body
{
    background-color:bisque; 
    font-family:'Times New Roman', Times, serif;
    color:black;
    padding:0;
}  

#ContenedorMenu
{
    width: 100%px;
    margin:0px; 
    background-color: rgb(236, 152, 152);
}

#logo, header h1
{
    display:inline-block;
    margin-top: 0px;
}

#main_title img
{
   display:inline-block;
   height: 100px;
   border-radius: 5px;
   background: url(../Images/Restautante\ _1.jpg) no-repeat;
   position: relative;
   box-shadow: 0px 4px 4px #180101;
   margin-bottom: 25px;
}
nav a
{
flex-wrap: nowrap;
text-align:justify;
margin-right: 20px;
}


.vin{
   border-radius: 25px, 25px, 25px, 25px;
   background-color: brown; 
   text-decoration: none;
   color: white;
}

.vin:hover{
    color: black;
    font-size: 20px;
}