body
{
    background-color:bisque; 
    font-family:'Times New Roman', Times, serif;
    color:black;
    padding:0;
}  

#ContenedorMenu
{
    width: 100%px;
    margin:0px; 
    background-color: rgb(236, 152, 152); 

}

#main_title
{
   display:inline-block;
}
nav
{
flex-wrap: nowrap;
}

.vin{
   border-radius: 25px, 25px, 25px, 25px;
   background-color: brown; 
   text-decoration: none;
   color: white;
   font-family: monospace;
}

.vin:hover{
    color: black;
    font-size: 20px;
}