body
{
    background-color: brown; 
    font-family:'Times New Roman', Times, serif;
    color:black
}  

#main_wrapper
{
    width: 900px;
    margin:auto; 
}

#main_title
{
   display:inline-block;
}